* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  font-weight: 300;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(57, 115, 157, 0.2);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input-box,
.items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box {
  position: relative;
}

.items-wrapper {
  margin-bottom: 0.5em;
}

.items {
  display: flex;
  flex-direction: column;
}

.fa-solid {
  width: 1em;
  height: 1em;
}

button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.complete-all {
  position: absolute;
  left: 33px;
  visibility: hidden;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: auto;
  width: 560px;
  visibility: hidden;
}
.todo-count {
  flex: 1.5 0 auto;
  font-weight: 400;
  color: red;
}

.filters {
  flex: 1 0 auto;
}

.clear-completed {
  visibility: hidden;
}

input,
.item {
  font-style: italic;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  font-weight: 100;
  font-size: 24px;
  line-height: 1.4em;
  width: 550px;
  outline: none;
}

::placeholder {
  opacity: 0.3;
}
