* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  color: #4d4d4d;
  font-weight: 300;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(57, 115, 157, 0.2);
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  font-size: 1.3em;
  line-height: 1.4em;
  width: 550px;
  outline: none;
}

.input-box {
  position: relative;
  width: 600px;
  margin: auto;
}

::placeholder {
  opacity: 0.3;
  font-weight: 100;
}

.complete-all {
  position: absolute;
  visibility: hidden;
  left: 2.75em;
}

.fa-solid,
.fa-regular {
  font-family: "FontAwesome";
  font-style: normal;

  cursor: pointer;
}

.fa-user-check {
  color: #39739d;
}

.fa-trash {
  font-size: 0.6em;
  color: gray;
  transition: all 0.3s ease-in-out;
}

.fa-trash:hover {
  transform: scale(1.2);
}

.fa-regular {
  font-size: 0.9em;
}

.fa-circle-check {
  color: green;
}

.fa-circle {
  color: #7aa7c7;
}

.input-box,
.items-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-wrapper {
  margin-bottom: 0.5em;
}

.items {
  display: flex;
  flex-direction: column;
}

.user-input {
  font-style: italic;
  flex: 1 0 auto;
  margin-left: 0.5em;
  width: 470px;
  word-wrap: break-word;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.7em;
  background: rgba(0, 0, 0, 0.003);
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  font-size: 24px;
  line-height: 1.4em;
  width: 550px;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: auto;
  width: 560px;
  visibility: hidden;
}
.todo-count {
  flex: 1.5 0 auto;
  font-weight: 400;
  color: #39739d;
}

.filters {
  flex: 1 0 auto;
}

.clear-completed {
  visibility: hidden;
}

button {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

footer {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  font-weight: 100;
}

footer p {
  color: white;
}

footer a {
  display: flex;
  margin-left: 0.5em;
}

footer img {
  height: 1.5em;
  width: 1.5em;
  transition: transform 0.3s ease-in-out;
}

footer img:hover {
  transform: rotate(360deg) scale(1.2);
}

@media only screen and (max-width: 600px) {
  .input-box {
    width: 90%;
  }

  .complete-all {
    left: 1.25em;
  }

  .items {
    width: 90%;
  }

  .item {
    width: 100%;
  }

  .toolbar {
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }

  .user-input {
    width: 90%;
  }
}
